node_modules/
converted/
uploads/
.DS_Store
.env
cookies.txt
youtube-cookies.txt
cookies.txt
cookies-base64.txtcookie-part-*
railway-cookies.env
youtube-cookies.txt
cookie-part-*
cookies-base64.txt
cookies.txt
railway-cookies.env
youtube-cookies.txt
